@import "tailwindcss";

@font-face {
  font-family: 'Dosis';
  src: url('/fonts/Dosis-Regular.ttf') format('truetype');
  font-weight: 440;
  font-style:normal;
}

:root {
  font-family: 'Dosis';
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #07070e;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
