@import "tailwindcss";

@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto-Font.ttf') format('truetype');
  font-weight:var();
  font-style:var();
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat-Font.ttf') format('truetype');
  font-weight:var();
  font-style:var();
  font-family: 'PlayFair';
  src: url('/fonts/PlayfairDisplay-Font.ttf') format('truetype');
  font-weight:var();
  font-style:var();
}

:root {
  font-family: "Roboto";
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #07070e;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



@custom-variant dark (&:where(.dark, .dark *));

@theme {
  /* Global Colors */
  --color-primary: #D4AF37;
  --color-secondary: #7C1C1C;
  --color-danger: #FF3B30;

  /* Light Theme */
  --color-background-light: #F2F2F7;
  --color-text-primary-light: #1D1D1F;
  --color-text-secondary-light: #6E6E73;
  --color-bor-light: #E5E5EA;
  --color-surface-light: #FFFFFF;

  /* Dark Theme */
  --color-background-dark: #101922;
  --color-text-primary-dark: #F5F5F7;
  --color-text-secondary-dark: #8A8A8E;
  --color-bor-dark: #3A3A3C;
  --color-surface-dark: #1C1C1E;

  /*  Typo */
  --font-display: "PlayFair", sans-serif;
  --font-body: "Montserrat", sans-serif;

  --animate-fade-in-up: fade-in-up 1s ease-in-out;
  @keyframes fade-in-up {
    0% { opacity: 0; transform: translateY(40px); }
    100% { opacity: 1; transform: translateY(0); }
  }
}



/* Scrollbar */
::-webkit-scrollbar {
  width: 10px;              
  height: 10px;             
}

::-webkit-scrollbar-track {
  background: transparent;  
}

::-webkit-scrollbar-thumb {
  background-color: rgb(6, 7, 8);
  border-radius: 9999px;             
  border: 2px solid transparent;     
  background-clip: content-box;
}


::-webkit-scrollbar-thumb:hover {
  background-color: rgb(34, 87, 194);
}

/* Dark mode*/
.dark ::-webkit-scrollbar-thumb {
  background-color: rgb(32, 89, 168);
}
.dark ::-webkit-scrollbar-thumb:hover {
  background-color: rgb(55, 96, 167);
}


::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(26, 27, 29, 0.5);
  border-radius: 9999px;
  transition: background-color 0.2s ease;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(40, 41, 41, 0.7);
}
